/* Booking Header */
.booking-header {
    background-size: cover;
    background-position: center;
    color: var(--white-color);
    padding: 8rem 0 4rem;
    margin-bottom: 2rem;
    position: relative;
  }